

.header .bg img{
    width: 100%;
    height: 500px;
}

.search-bar{
    width: 80%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.header .search{
    outline: none;
    background: none;
    border: none;
    margin-left: 2rem;
    width: 350px;
    height: 35px;
    border-radius: 1rem;
    font-size: 20px;
    padding: 1.2rem;
    border:2px solid #B41F23
}

.content{
    width: 100%;
    padding: 1rem;
   
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block; /* ou display: inline-block; */
    margin-right: 
    5px; /* Opcional: adicione margem entre os itens */
}

.button-more {
    height: 40px;
    background-color: #f1f1f1;
    margin: 0 auto; 
    display: block;
}